<nz-drawer
  [nzMaskClosable]="nzZorro.maskClosableDrawer"
  [nzVisible]="comuADM.openOperation"
  nzPlacement="right"
  [nzTitle]="'app-content.label.edit-date' | translate"
  (nzOnClose)="destroy()"
  [nzWidth]="nzZorro.nzWidthDrawer"
>
  <ng-container *nzDrawerContent>
    <nz-divider
      [nzDashed]="true"
      [nzText]="'app-content.label.edit-user' | translate"
    ></nz-divider>
    <nz-spin [nzSize]="'large'" [nzSpinning]="initloading">
      <form nz-form [formGroup]="date" (ngSubmit)="sendDate()">
        <div nz-row [nzGutter]="24">
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
            <nz-form-label [nzNoColon]="true" nzRequired nzFor="name"
              >{{ "validation.name.label" | translate }}
            </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="TplName" nzHasFeedback>
                <nz-input-group>
                  <input
                    type="text"
                    nz-input
                    formControlName="name"
                    placeholder="{{
                      'validation.name.placeholder' | translate
                    }}"
                    required
                    autofocus
                  />
                </nz-input-group>
                <ng-template #TplName let-control>
                  <ng-container *ngIf="name?.errors?.required">
                    {{ "validation.name.required" | translate }}
                  </ng-container>
                  <ng-container *ngIf="name?.errors?.pattern">
                    {{ "validation.name.invalid" | translate }}
                  </ng-container>
                  <ng-container *ngIf="name?.errors?.minlength">
                    {{ "validation.name.invalid_min" | translate }}
                  </ng-container>
                  <ng-container *ngIf="name?.errors?.maxlength">
                    {{ "validation.name.invalid_max" | translate }}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
            <nz-form-label [nzNoColon]="true" nzFor="nametwo"
              >{{ "validation.nametwo.label" | translate }}
            </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="TplNametwo" nzHasFeedback>
                <nz-input-group>
                  <input
                    nz-input
                    formControlName="nametwo"
                    type="text"
                    placeholder="{{
                      'validation.nametwo.placeholder' | translate
                    }}"
                  />
                </nz-input-group>
                <ng-template #TplNametwo let-control>
                  <ng-container *ngIf="nametwo?.errors?.pattern">
                    {{ "validation.nametwo.invalid" | translate }}
                  </ng-container>
                  <ng-container *ngIf="nametwo?.errors?.minlength">
                    {{ "validation.nametwo.invalid_min" | translate }}
                  </ng-container>
                  <ng-container *ngIf="nametwo?.errors?.maxlength">
                    {{ "validation.nametwo.invalid_max" | translate }}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="24">
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
            <nz-form-label [nzNoColon]="true" nzRequired nzFor="lastnameone">
              {{ "validation.lastnameone.label" | translate }}
            </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="TplLastnameone" nzHasFeedback>
                <nz-input-group>
                  <input
                    type="text"
                    nz-input
                    formControlName="lastnameone"
                    placeholder="{{
                      'validation.lastnameone.placeholder' | translate
                    }}"
                    required
                  />
                </nz-input-group>
                <ng-template #TplLastnameone let-control>
                  <ng-container *ngIf="lastnameone?.errors?.required">
                    {{ "validation.lastnameone.required" | translate }}
                  </ng-container>
                  <ng-container *ngIf="lastnameone?.errors?.pattern">
                    {{ "validation.lastnameone.invalid" | translate }}
                  </ng-container>
                  <ng-container *ngIf="lastnameone?.errors?.minlength">
                    {{ "validation.lastnameone.invalid_min" | translate }}
                  </ng-container>
                  <ng-container *ngIf="lastnameone?.errors?.maxlength">
                    {{ "validation.lastnameone.invalid_max" | translate }}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
            <nz-form-label nzRequired [nzNoColon]="true" nzFor="lastnametwo">
              {{ "validation.lastnametwo.label" | translate }}
            </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="TplLastnametwo" nzHasFeedback>
                <nz-input-group>
                  <input
                    nz-input
                    formControlName="lastnametwo"
                    type="text"
                    placeholder="{{
                      'validation.lastnametwo.placeholder' | translate
                    }}"
                    required
                  />
                </nz-input-group>
                <ng-template #TplLastnametwo let-control>
                  <ng-container *ngIf="lastnametwo?.errors?.required">
                    {{ "validation.lastnametwo.required" | translate }}
                  </ng-container>
                  <ng-container *ngIf="lastnametwo?.errors?.pattern">
                    {{ "validation.lastnametwo.invalid" | translate }}
                  </ng-container>
                  <ng-container *ngIf="lastnametwo?.errors?.minlength">
                    {{ "validation.lastnametwo.invalid_min" | translate }}
                  </ng-container>
                  <ng-container *ngIf="lastnametwo?.errors?.maxlength">
                    {{ "validation.lastnametwo.invalid_max" | translate }}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="24">
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
            <nz-form-label [nzNoColon]="true" nzRequired nzFor="userName">
              {{ "validation.user.label" | translate }}
            </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="TplUserName" nzHasFeedback>
                <nz-input-group>
                  <input
                    type="text"
                    nz-input
                    formControlName="userName"
                    placeholder="{{
                      'validation.user.placeholder' | translate
                    }}"
                    required
                  />
                </nz-input-group>
                <ng-template #TplUserName let-control>
                  <ng-container *ngIf="userName?.errors?.required">
                    {{ "validation.user.required" | translate }}
                  </ng-container>
                  <ng-container *ngIf="userName?.errors?.pattern">
                    {{ "validation.user.invalid" | translate }}
                  </ng-container>
                  <ng-container *ngIf="userName?.errors?.minlength">
                    {{ "validation.user.invalid_min" | translate }}
                  </ng-container>
                  <ng-container *ngIf="userName?.errors?.maxlength">
                    {{ "validation.user.invalid_max" | translate }}
                  </ng-container>
                  <ng-container *ngIf="userName?.errors?.asyncuservalidator">
                    {{ "validation.user.present-BD" | translate }}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
            <nz-form-label nzRequired [nzNoColon]="true" nzFor="email">
              {{ "validation.email.label" | translate }}
            </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="TplEmail" nzHasFeedback>
                <nz-input-group>
                  <input
                    nz-input
                    formControlName="email"
                    type="email"
                    placeholder="{{
                      'validation.email.placeholder' | translate
                    }}"
                    required
                  />
                </nz-input-group>
                <ng-template #TplEmail let-control>
                  <ng-container *ngIf="email?.errors?.required">
                    {{ "validation.email.required" | translate }}
                  </ng-container>
                  <ng-container *ngIf="email?.errors?.pattern">
                    {{ "validation.email.wrong-format" | translate }}
                  </ng-container>
                  <ng-container *ngIf="email?.errors?.asyncemailvalidator">
                    {{ "validation.email.present-BD" | translate }}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <nz-form-item nz-row class="register-area">
          <nz-form-control>
            <button
              nz-button
              nzType="primary"
              [nzLoading]="loadingDate"
              type="submit"
              [disabled]="date.invalid"
            >
              {{ "button.send" | translate }}
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
      <nz-divider
        [nzDashed]="true"
        [nzText]="'app-content.label.edit-rol' | translate"
      ></nz-divider>
      <form nz-form [formGroup]="dateRolPermissons" (ngSubmit)="sendRol()">
        <div nz-row [nzGutter]="24">
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24">
            <nz-form-label [nzNoColon]="true" nzRequired nzFor="rol">
              {{ "validation.rol.label" | translate }}
            </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="TplRol" nzHasFeedback>
                <nz-select
                  nzAllowClear
                  nzPlaceHolder="Choose"
                  [nzPlaceHolder]="'validation.rol.placeholder' | translate"
                  formControlName="rol"
                >
                  <nz-option
                    *ngFor="let option of listofRol | async"
                    [nzLabel]="option.name"
                    [nzValue]="option._id"
                  ></nz-option>
                </nz-select>
                <ng-template>
                  <nz-spin *ngIf="loadingDateRol"></nz-spin>
                </ng-template>
                <ng-template #TplRol let-control>
                  <ng-container *ngIf="rol?.errors?.required">
                    {{ "validation.rol.required" | translate }}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-item nz-row class="register-area">
            <nz-form-control>
              <button
                nz-button
                nzType="primary"
                [nzLoading]="loadingDateRol"
                type="submit"
                [disabled]="rol?.invalid"
              >
                {{ "button.send" | translate }}
              </button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
    </nz-spin>
  </ng-container></nz-drawer
>
