<nz-drawer
  [nzMaskClosable]="nzZorro.maskClosableDrawer"
  [nzVisible]="comuUser.openOperation"
  nzPlacement="right"
  [nzTitle]="'app-content.label.show-date'|translate"
  (nzOnClose)="destroy()"
  [nzWidth]="nzZorro.nzWidthDrawer"
>
  <ng-container *nzDrawerContent>
    <div class="drawer-info-user">
      <div class="author-avatar" (click)="showImg()">
        <figure class="content-avatar">
          <app-avatar
            id="avatar"
            class="avatar"
            [url]="user?.idimgData!"
          ></app-avatar>
        </figure>
      </div>
      <div class="author-date">
        <nz-skeleton
          [nzLoading]="loadingDate"
          [nzActive]="true"
          [nzParagraph]="{ rows: 4 }"
        >
          <nz-descriptions
            [nzColumn]="nzZorro.nzColumn"
            [nzTitle]="'app-content.label.person' | translate"
          >
            <nz-descriptions-item
              [nzTitle]="'validation.name.label' |translate"
              [nzSpan]="1"
              >{{user?.name!}} {{user?.nametwo}} {{user?.lastnameone}}
              {{user?.lastnametwo}}</nz-descriptions-item
            >
            <nz-descriptions-item
              [nzTitle]="'validation.user.label' |translate"
              [nzSpan]="1"
              >{{user?.user}}</nz-descriptions-item
            >
          </nz-descriptions>
        </nz-skeleton>
        <nz-divider></nz-divider>
        <nz-skeleton
          [nzLoading]="loadingDate"
          [nzActive]="true"
          [nzParagraph]="{ rows: 2 }"
        >
          <nz-descriptions
            [nzColumn]="nzZorro.nzColumn"
            [nzTitle]="'app-content.label.contacts' | translate"
          >
            <nz-descriptions-item nzTitle="Email" [nzSpan]="1"
              >{{user?.email!}}</nz-descriptions-item
            >
          </nz-descriptions>
        </nz-skeleton>
        <nz-divider></nz-divider>
        <nz-skeleton
          [nzLoading]="loadingDate"
          [nzActive]="true"
          [nzParagraph]="{ rows: 2 }"
        >
          <nz-descriptions
            [nzColumn]="nzZorro.nzColumn"
            [nzTitle]="'app-content.label.status' | translate"
          >
            <nz-descriptions-item
              [nzTitle]="'app-content.label.created' | translate"
              [nzSpan]="1"
              >{{user?.createdAt! |date}}</nz-descriptions-item
            >
            <nz-descriptions-item
              [nzTitle]="'app-content.label.update' | translate"
              [nzSpan]="1"
              >{{user?.updatedAt! |date}}</nz-descriptions-item
            >
          </nz-descriptions>
        </nz-skeleton>
        <nz-divider></nz-divider>
        <nz-skeleton
          [nzLoading]="loadingDate"
          [nzActive]="true"
          [nzParagraph]="{ rows: 2 }"
        >
          <nz-descriptions
            [nzColumn]="nzZorro.nzColumn"
            [nzTitle]="'app-content.label.roles-permissions' | translate"
          >
            <nz-descriptions-item
              [nzTitle]="'app-content.label.rol' | translate"
              [nzSpan]="1"
            >
              <nz-tag [nzColor]="'#2db7f5'">Rol</nz-tag>
            </nz-descriptions-item>
            <nz-descriptions-item
              [nzTitle]="'app-content.label.permissions' | translate"
              [nzSpan]="1"
            >
              <nz-tag [nzColor]="'#2db7f5'">permissions</nz-tag>
            </nz-descriptions-item>
          </nz-descriptions>
        </nz-skeleton>
      </div>
    </div>
  </ng-container>
</nz-drawer>
