<nz-drawer
  [nzMaskClosable]="nzZorro.maskClosableDrawer"
  [nzVisible]="comuUser.openOperation"
  nzPlacement="right"
  [nzTitle]="'app-content.label.edit-date' | translate"
  (nzOnClose)="destroy()"
  [nzWidth]="nzZorro.nzWidthDrawer"
>
  <ng-container *nzDrawerContent>
    <nz-spin [nzSize]="'large'" [nzSpinning]="initloading">
      <form nz-form [formGroup]="date" (ngSubmit)="sendDate()">
        <div nz-row [nzGutter]="24">
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
            <nz-form-label [nzNoColon]="true" nzRequired nzFor="name"
              >{{ "validation.name.label" | translate }}
            </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="TplName" nzHasFeedback>
                <nz-input-group>
                  <input
                    type="text"
                    nz-input
                    formControlName="name"
                    placeholder="{{
                      'validation.name.placeholder' | translate
                    }}"
                    required
                    autofocus
                  />
                </nz-input-group>
                <ng-template #TplName let-control>
                  <ng-container *ngIf="name?.errors?.required">
                    {{ "validation.name.required" | translate }}
                  </ng-container>
                  <ng-container *ngIf="name?.errors?.pattern">
                    {{ "validation.name.invalid" | translate }}
                  </ng-container>
                  <ng-container *ngIf="name?.errors?.minlength">
                    {{ "validation.name.invalid_min" | translate }}
                  </ng-container>
                  <ng-container *ngIf="name?.errors?.maxlength">
                    {{ "validation.name.invalid_max" | translate }}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
            <nz-form-label [nzNoColon]="true" nzRequired nzFor="userName">
              {{ "validation.user.label" | translate }}
            </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="TplUserName" nzHasFeedback>
                <nz-input-group>
                  <input
                    type="text"
                    nz-input
                    formControlName="userName"
                    placeholder="{{
                      'validation.user.placeholder' | translate
                    }}"
                    required
                  />
                </nz-input-group>
                <ng-template #TplUserName let-control>
                  <ng-container *ngIf="userName?.errors?.required">
                    {{ "validation.user.required" | translate }}
                  </ng-container>
                  <ng-container *ngIf="userName?.errors?.pattern">
                    {{ "validation.user.invalid" | translate }}
                  </ng-container>
                  <ng-container *ngIf="userName?.errors?.minlength">
                    {{ "validation.user.invalid_min" | translate }}
                  </ng-container>
                  <ng-container *ngIf="userName?.errors?.maxlength">
                    {{ "validation.user.invalid_max" | translate }}
                  </ng-container>
                  <ng-container *ngIf="userName?.errors?.asyncuservalidator">
                    {{ "validation.user.present-BD" | translate }}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <nz-form-item nz-row class="register-area">
          <nz-form-control>
            <button
              nz-button
              nzType="primary"
              [nzLoading]="loadingDate"
              type="submit"
              [disabled]="date.invalid"
            >
              {{ "button.send" | translate }}
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-spin>
  </ng-container></nz-drawer
>
